DB_DRIVER=postgres
DB_HOST=34.21.116.182
DB_PORT=5432
DB_NAME=quipux_ucuenca
DB_USER=quipux_ucuenca
DB_PASS=t2Vh5YDUhk2St9cQDRhj_

DB_BODEGA_HOST=34.21.116.182
DB_BODEGA_PORT=5432
DB_BODEGA_NAME=quipux_combodega_ucuenca
DB_BODEGA_USER=quipux_combodega_ucuenca
DB_BODEGA_PASS=uFU9F24n48M9frX8FCtT_
